main{
  display: flex;
  text-align: center;
  /* display: flex;は、この要素の子要素に対してFlexboxを使ってレイアウトをしていくという宣言 */
  margin-left: 10px;
}
#game{
  display: flex;
  text-align: center;
  list-style: none;
  flex-direction: row;
}
#nxt{
  margin-left: 10px;
}
#hldbox{
  flex-direction: column;
  margin-right: 10px;
}
#rldbtn{
  display: none;
  font-size: 25px;
  color: red;
}
#texts{
  margin-left: 10px;
  padding-left: 10px;
}
#ctrl{
  text-align: left;
}
h1{
  text-align: center;
}
